.#*
*~
*.ucls
*#
*.log
*.log.*
.DS_Store
*.swp
*.pid
.classpath
.project
.settings
bin
build
output
lib/downloaded
*.ser
target/
.idea/
*.iml
transaction-logs/*
back-office-front/node_modules
back-office-front/dist
back-office-front/.tmp
back-office-front/.sass-cache
back-office-front/bower_components
back-office-front/*.war
back-office-front/.bowerrc
back-office-front/.editorconfig
back-office-front/.jscsrc
back-office-front/.jshintrc
config/*/loc/config.properties
nb-configuration.xml
nbactions.xml
config/*/loc/config.properties
nb-configuration.xml
nbactions.xml

